secrets/sops-key.txt filter=git-crypt diff=git-crypt
secrets/gpg-key.asc filter=git-crypt diff=git-crypt
secrets/github-token.txt filter=git-crypt diff=git-crypt
secrets/factorio.nix filter=git-crypt diff=git-crypt
secrets/syncthing.nix filter=git-crypt diff=git-crypt
