.bar {
  background-color: $bar_bg;
  color: $fg;
  min-height: $bar_height;
  // border-radius: 1rem;
  // border: 0.1rem solid $fg;
  // border-bottom: 1px solid $fg;

  .button {
    min-width: 2rem;
    min-height: 2rem;
    margin-right: 1rem;
    border-radius: 0.6rem;
    transition: 100ms linear;

    &:hover {
      background-color: $bg_alt;
    }
  }

  .workspaces {
    margin: 0 0.6rem;

    .workspace {
      border-radius: 2rem;
      margin: 0 0.3rem; // Top/Bottom Left/Right
      transition: 100ms linear;
      background-color: $bg;
      min-width: 1.2rem;
      min-height: 1.2rem;

      &.occupied {
        &.mon1 {
          // 0-indexed!
          background-color: transparent;
          border: 0.2rem solid $base0B;
          border-style: solid;
          border-width: 0.2rem;
        }
      }

      &.active {
        min-width: 3rem;
      }

      &:not(.active):hover {
        background-color: $bg_alt;
      }
    }

    &.specialisation_default .occupied {
      background-color: $base0B;

      &.mon1 {
        border-color: $base0B;
      }
    }

    &.specialisation_gaming .occupied {
      background-color: $base0D;

      &.mon1 {
        border-color: $base0D;
      }
    }

    &.specialisation_virtualisation .occupied {
      background-color: $base0E;

      &.mon1 {
        border-color: $base0E;
      }
    }
  }

  .date {
    margin-left: 1.1rem;
    padding: 0.2rem 0.2rem;
  }

  .battery {

    .battery_label,
    .battery_icon {
      margin-right: 0.4rem;
    }

    margin: 0.4rem 0.4rem;
    padding: 0.2rem 0.6rem;

    &.charging .battery_label {
      color: $base0B;
    }

    .battery_label {
      &.warning {
        color: $base09;
      }

      &.critical {
        color: $base08;
      }
    }
  }

  .system-tray {
    .tray-item {
      transition: 100ms linear;
      margin: 0.3rem 0.1rem;
      padding: 0.2rem 0.5rem;
      border-radius: 0.5rem;

      &:hover {
        background-color: $bg_alt;
      }
    }
  }

  .volume {
    margin-left: 1rem;

    .volume-slider {
      min-width: 7rem;
      border-radius: 0.2rem;
      margin: 1rem 0.5rem;
      min-height: 0.5rem;
      background-color: $bg;

      highlight {
        min-height: 0.5rem;
        border-radius: 0.2rem;
        background-color: $fg;

        &:hover {
          background-color: $fg_alt;
        }
      }

      slider {
        background-color: transparent;
      }
    }
  }
}

tooltip {
  background-color: $bg;
  border-radius: 0.4rem;
  border: 0.1rem solid $accent2;

  & * {
    padding: 0.2rem;
  }
}

// System tray
menu {
  background-color: $bg;
  padding: 1rem;
  border-radius: 1rem;

  separator {
    min-height: 0.05rem;
    margin: 0.5rem 0;
    background-color: $bg_alt2;
  }

  menuitem {
    border-radius: 0;
    transition: 100ms linear;
    padding: 0.4rem 0.7rem;
    // background-color: $bg_alt;
    border-radius: 0.5rem;

    &:hover {
      background-color: $bg_alt;
    }
  }
}
