.quicksettings {
	min-width: 20rem;
	// min-height: 25rem;
	background-color: rgba($bg, 0.9);
	border-radius: 1rem;
	margin: 1rem;
	padding: 1rem;

	.title-label {
		margin-right: 1rem;
	}

	.power {
		.power-button {
			min-width: 2.5rem;
			min-height: 2.5rem;
			padding: 0.2rem;
			margin: 0.5rem;
			background-color: darken($accent2, 5%);
			border-radius: 0.5rem;
			border: 0.1rem solid $fg;

			&:hover {
				background-color: darken($accent2, 10%);
			}

			&:active {
				background-color: darken($accent2, 15%);
			}
		}
	}

	.controls { // Row of toggles
		// margin: 0.5rem 0;
		// background-color: $fg_alt;
		// border-radius: 0.5rem;
		// border: 0.1rem solid $accent3;

		.toggle { // Toggle-buttons
			min-width: 9rem;
			margin: 0.5rem;
			min-height: 2.5rem;
			border-radius: 0.5rem;
			background-color: darken($base0D, 5%);
			color: $fg_alt;
			transition: 0.05s linear;
			padding: 0.3rem;
			// border: 0.1rem solid $fg;

			&:hover {
				background-color: darken($base0D, 10%);
			}

			&:active {
				background-color: darken($base0D, 15%);
			}

			.toggle-icon {
				// margin-left: 0.3rem;
				// margin-right: 2rem;
				margin: 0 1rem;
			}

			&.disabled {
				background-color: $bg_alt;

				&:hover {
					background-color: scale-color($bg_alt, $lightness: 5%);
				}

				&:active {
					background-color: scale-color($bg_alt, $lightness: 10%);
				}
			}
		}
	}
}
