$bar_bg: rgba($base00, 0.9);
$bg: $base01;
$bg_alt: $base03;
$bg_alt2: $base04;
$fg: $base07;
$fg_alt: $base06;

$accent1: $base0B;
$accent2: $base0C;
$accent3: $base0E;
$accent4: $base09;

$bar_height: 32px;
