$app-spacing: 12px;
$app-width: 500px;
$app-height: 400px;

// window.applauncher {
.app-box {
  margin: calc(2 * #{$app-spacing});
  border-radius: 12px;
  background-color: rgba($base00, 0.4);
  padding: 1rem;
  border: 1px solid $fg;
}

.app-scroll {
  min-width: $app-width;
  min-height: $app-height;
}

.app-entry {
  margin-bottom: $app-spacing;
  min-height: 2rem;
  padding: 0.2rem 1rem;
  border-radius: 12px;
  border: 1px solid $base06;
}

// .app-list {
//   &:first-child {
//     background-color: $bg_alt;
//   }
// }

.app-list {
  .app-item {
    border-radius: 12px;
    transition: background-color 0.1s linear;
    padding: 4px;
    // margin-bottom: 0.1rem;

    &:hover,
    &:first-child {
      background-color: rgba($base01, 0.9);
    }
  }
}

// }
