.powermenu {
  background-color: $bar_bg;
  border-radius: 2rem;
  border: 0.1rem solid $fg;
  min-height: 1+rem;
  min-width: 60rem;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .powerbutton {
    background-color: $bg;
    min-width: 8rem;
    min-height: 8rem;
    margin: 1rem;
    border-radius: 1rem;
    transition: 0.1s linear;

    &:hover {
      background-color: $bg_alt;
    }

    &.lock:hover {
      background-color: $base0D;
    }
    &.logout:hover {
      background-color: $base0B;
    }
    &.suspend:hover {
      background-color: $base0E;
    }
    &.hibernate:hover {
      background-color: $base0C;
    }
    &.poweroff:hover {
      background-color: $base08;
    }
  }
}
