// very janky rounded corner implementation
window.screen-corner {
	.corners {
		border-radius: 1.5rem;
		min-height: $bar_height;
		border: 0.1rem solid $bg_alt2;
		margin-right: -0.137rem; // Margin is >= to border thickness
		margin-left: -0.137rem; // Idk why but this is the value that works
		box-shadow: 0 0 0 $bar_height $bar_bg;
		margin-bottom: -3rem; // Make box shadow show only on top
	}
}
